@import "tailwindcss";

:root {
  --background: #0f172a;
  /* Slate 900 */
  --foreground: #f8fafc;
  /* Slate 50 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}